                .wrap-img {
                    width: calc(100% - 60px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img {
                    width: 200px;
                    height: 250px;
                    margin-top: -90px;
                    user-select: none;
                    z-index: 1;
                    transition: transform linear 0.35s;
                }
                .wrap-modal:hover img {
                    transform: translateY(-10px);
                }
                .wrap-modal:hover img.blur {
                    transform: translate(20px, 0px);
                }
                img.blur {
                    position: absolute;
                    transform: translate(20px, 10px);
                    filter: blur(5px);
                    opacity: 0.35;
                    transition: transform linear 0.35s;
                    z-index: 0;
                }